workflows/Motor_Asignacion.json
{
  "name": "TutorBot_WhatsApp_Twilio_Final",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8"
        },
        "sheetName": {
          "__rl": true,
          "value": 659472881,
          "mode": "list",
          "cachedResultName": "Tutores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8/edit#gid=659472881"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2368,
        288
      ],
      "id": "88a25c18-fb26-4eac-89fa-39dbe35fa18a",
      "name": "Buscar Sesión Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.pantalla_actual || 'NUEVO' }}",
        "rules": {
          "rules": [
            {
              "value2": "NUEVO"
            },
            {
              "value2": "MENU_MATERIAS",
              "output": 1
            },
            {
              "value2": "ESPERANDO_CONFIRMACION",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2176,
        256
      ],
      "id": "7423c2db-a566-496e-b56f-7962f452b91e",
      "name": "Enrutador de Estados"
    },
    {
      "parameters": {
        "jsCode": "const datosInput = $('Extraer Datos Discord').first().json;\n\nconst saludo = `👋 ¡Hola ${datosInput.usuarioNombre}! Bienvenido a *TutorBot* 🤖\\n\\n`;\nconst menu = `Por favor, selecciona la materia para tu asesoría ingresando el número correspondiente:\\n\\n1️⃣ JavaScript\\n2️⃣ Python\\n3️⃣ Java\\n4️⃣ Bases de Datos\\n5️⃣ HTML y CSS`;\n\nreturn [{\n  json: {\n    telefono: datosInput.telefono,\n    respuesta: saludo + menu,\n    siguiente_pantalla: 'MENU_MATERIAS'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        32
      ],
      "id": "95c346fe-9a56-4e84-ac18-ba88fd7619a1",
      "name": "Menu Inicial"
    },
    {
      "parameters": {
        "jsCode": "// se lee el número (\"1\", \"2\", etc.) que viene directo del nodo de Discord\nconst msg = $('Send message and wait for response').first().json.data.text;\n\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\n\nconst materias = {\n  \"1\": \"JavaScript\",\n  \"2\": \"Python\",\n  \"3\": \"Java\",\n  \"4\": \"Bases de Datos\",\n  \"5\": \"HTML y CSS\"\n};\n\nconst materiaSeleccionada = materias[msg];\n\nif (!materiaSeleccionada) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Opción no válida. Por favor selecciona un número del 1 al 5 para elegir tu materia.\",\n      siguiente_pantalla: \"MENU_MATERIAS\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    telefono,\n    error: false,\n    materia_seleccionada: materiaSeleccionada,\n    respuesta: `Perfecto 👍\\nSeleccionaste: *${materiaSeleccionada}*\\n\\nBuscando tutores disponibles...`    \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        192
      ],
      "id": "0ef9804c-c2cc-4d6f-a3ec-efe11702daa3",
      "name": "Procesar Materia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1344,
        192
      ],
      "id": "5cd07dc6-3a62-4111-92b6-ed1a088b6042",
      "name": "¿Materia Inválida?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tutores",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        208
      ],
      "id": "73ca48c9-7fd3-480b-b9b6-8429981bcd02",
      "name": "Descargar Tutores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const materia = $('Procesar Materia').first().json.materia_seleccionada;\nreturn items.filter(item => \n  (item.json.estado_tutor || '').toLowerCase().trim() === \"activo\" && \n  (item.json.especialidad_materias || '').toLowerCase().trim() === (materia || '').toLowerCase().trim()\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        208
      ],
      "id": "2d94ad4a-4757-4e89-84f1-70d530c227c0",
      "name": "Filtrar Tutores"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        208
      ],
      "id": "91ed2836-ced9-4b6e-aa91-fd1ca97bfdee",
      "name": "Descargar Disponibilidades",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tutoresValidos = $('Filtrar Tutores').all().map(t => t.json.id_tutor);\nreturn items.filter(item => \n  tutoresValidos.includes(item.json.id_tutor) && \n  (item.json.estado || '').toLowerCase().trim() === \"libre\"\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        208
      ],
      "id": "5ca67280-d288-4b0c-aa2f-2dfcfb69fa70",
      "name": "Cruzar Disponibilidad"
    },
    {
      "parameters": {
        "jsCode": "const diasSemana = {\n  \"Domingo\": 0, \"Lunes\": 1, \"Martes\": 2,\n  \"Miércoles\": 3, \"Miercoles\": 3,\n  \"Jueves\": 4, \"Viernes\": 5,\n  \"Sábado\": 6, \"Sabado\": 6\n};\n\nfunction proximaFecha(diaTexto) {\n  const hoy = new Date();\n  const diaObjetivo = diasSemana[diaTexto];\n  if (diaObjetivo === undefined) return null;\n  const diaActual = hoy.getDay();\n  let diff = diaObjetivo - diaActual;\n  if (diff <= 0) diff += 7;\n  const res = new Date(hoy);\n  res.setDate(hoy.getDate() + diff);\n  return res.toISOString().split('T')[0];\n}\n\nconst tutoresMap = {};\n$('Filtrar Tutores').all().forEach(t => {\n  tutoresMap[t.json.id_tutor] = t.json.nombre;\n});\n\nconst opciones = [];\nlet counter = 1;\n\nfor (const dispo of items) {\n  const d = dispo.json;\n  opciones.push({\n    opcion: counter,\n    id_tutor: d.id_tutor,\n    nombre_tutor: tutoresMap[d.id_tutor] || \"Tutor\",\n    fecha: proximaFecha(d.dia_semana),\n    dia_semana: d.dia_semana,\n    hora_inicio: d.hora_inicio,\n    hora_fin: d.hora_fin\n  });\n  counter++;\n  if (counter > 3) break;\n}\n\nreturn opciones.map(op => ({ json: op }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        160
      ],
      "id": "550155ea-5809-44d9-991d-436a7cef5c7d",
      "name": "Motor de Asignación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-vacio",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        16
      ],
      "id": "01abf866-c810-4e39-a88d-e264fecb7c32",
      "name": "¿Hay Opciones?"
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos Discord').first().json.telefono;\nreturn [{\n  json: {\n    telefono,\n    respuesta: \"😔 Lo siento, en este momento no tenemos tutores disponibles para la materia solicitada. Por favor, intenta más tarde escribiendo *Hola*.\",\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ],
      "id": "7c1719d4-8632-45b6-aa3c-641338086ac5",
      "name": "Handler Sin Tutores"
    },
    {
      "parameters": {
        "jsCode": "const opciones = items.map(i => i.json);\nconst materia = $('Procesar Materia').first().json.materia_seleccionada;\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\n\nlet msg = `👨‍🏫 *Opciones de asesoría para ${materia}:*\\n\\n`;\n\nopciones.forEach(op => {\n  msg += `${op.opcion} ${op.nombre_tutor}\\n📅 ${op.fecha} (${op.dia_semana})\\n⏰ ${op.hora_inicio} a ${op.hora_fin}\\n\\n`;\n});\n\nmsg += \"✍️ Responde con el número de la opción que desees agendar.\";\n\nreturn [{\n  json: {\n    telefono,\n    respuesta: msg,\n    siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        144
      ],
      "id": "726c5731-61c3-4fe6-88f6-6c40550854f8",
      "name": "Construir Menú Opciones"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Extraer Datos Discord').first().json.telefono }}",
            "opcion": "={{ $json.opcion }}",
            "id_tutor": "={{ $json.id_tutor }}",
            "nombre_tutor": "={{ $json.nombre_tutor }}",
            "materia": "={{ $('Procesar Materia').first().json.materia_seleccionada }}",
            "fecha": "={{ $json.fecha }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "estado": "Pendiente",
            "fecha_creacion": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_chat",
              "displayName": "id_chat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_tutor",
              "displayName": "nombre_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        432
      ],
      "id": "18f26bd1-4ae9-4804-a170-a0919b7864db",
      "name": "Almacenar Pre-Reservas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        336
      ],
      "id": "024cf73d-e4c4-4358-92c9-75f3d15e0e1d",
      "name": "Cargar Opciones Ofrecidas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Send message and wait for response1').first().json.data.text.trim();\nconst telefono = $('Extraer Datos Discord').first().json.telefono;\n\nconst seleccion = parseInt(msg, 10);\nconst pendientes = items.map(i => i.json);\n\nconst reservaElegida = pendientes.find(r => \n  r.id_chat === telefono && \n  parseInt(r.opcion, 10) === seleccion && \n  r.estado === \"Pendiente\"\n);\n\nif (!reservaElegida) {\n  return [{\n    json: {\n      telefono,\n      error: true,\n      respuesta: \"⚠️ Selección inválida. Responde únicamente con el número de la opción elegida (1, 2 o 3).\",\n      siguiente_pantalla: \"ESPERANDO_CONFIRMACION\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...reservaElegida,\n    error: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        336
      ],
      "id": "49571aa2-250e-40fe-a8ce-899e35c61f19",
      "name": "Validar Selección"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "check-err",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        336
      ],
      "id": "e3fe13fc-d845-4e3a-89fb-b405f932cc9b",
      "name": "¿Selección Inválida?"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "alexc6997@gmail.com",
          "mode": "list",
          "cachedResultName": "alexc6997@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1440,
        352
      ],
      "id": "98420c8c-c0bc-4b28-aef9-46daf275129a",
      "name": "Agendar Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "e8yC86k95xvHleXK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutor": "={{ $('Validar Selección').first().json.id_tutor }}",
            "dia_semana": "={{ $('Validar Selección').first().json.dia_semana }}",
            "hora_inicio": "={{ $('Validar Selección').first().json.hora_inicio }}",
            "estado": "ocupado",
            "row_number": 0
          },
          "matchingColumns": [
            "id_tutor",
            "dia_semana",
            "hora_inicio"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        352
      ],
      "id": "6a34523e-b065-4eb0-b268-59e57c9e1040",
      "name": "Cerrar Disponibilidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ReservasPendientes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_chat": "={{ $('Validar Selección').first().json.id_chat }}",
            "opcion": "={{ $('Validar Selección').first().json.opcion }}",
            "estado": "Confirmada",
            "row_number": 0
          },
          "matchingColumns": [
            "id_chat",
            "opcion"
          ],
          "schema": [
            {
              "id": "id_chat",
              "displayName": "id_chat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_tutor",
              "displayName": "nombre_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        352
      ],
      "id": "ea22cbd8-39fe-4861-b1f0-df26e462335f",
      "name": "Confirmar Asesoría",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('Validar Selección').first().json;\n\nlet msg = \"✅ *¡TU ASESORÍA HA SIDO CONFIRMADA!* 🗓️\\n\\n\";\nmsg += `👩‍🏫 *Tutor:* ${r.nombre_tutor}\\n`;\nmsg += `📚 *Materia:* ${r.materia}\\n`;\nmsg += `📅 *Fecha:* ${r.fecha}\\n`;\nmsg += `🕗 *Hora:* ${r.hora_inicio} - ${r.hora_fin}\\n\\n`;\nmsg += \"Hemos añadido este evento a la agenda. ¡Te esperamos!\";\n\nreturn [{\n  json: {\n    telefono: r.id_chat,\n    respuesta: msg,\n    siguiente_pantalla: \"NUEVO\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        352
      ],
      "id": "fb95bd81-296c-4b6c-a192-ebf9bf0a5705",
      "name": "Mensaje de Éxito"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        336
      ],
      "id": "3185a23a-ae2d-4469-b13f-f3a53e76336a",
      "name": "Merge Salidas"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 782939407,
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8/edit#gid=782939407"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sessions": "={{ $('Extraer Datos Discord').first().json.telefono }}"
          },
          "matchingColumns": [
            "Sessions"
          ],
          "schema": [
            {
              "id": "Sessions",
              "displayName": "Sessions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2448,
        272
      ],
      "id": "9fa287d7-7276-4820-91f4-4248c4ddec71",
      "name": "Guardar Estado DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1461025112445812879\n// Captura los datos del trigger manual\nconst body = $json;\n\nconst ID_DISCORD = '1461025112445812879'; \n\nconst mensaje = 'hola';\n\nconst telefono = ID_DISCORD; \n\nconst usuarioNombre = 'Alejandro'; \n\nreturn [{\n  json: {\n    mensaje,\n    telefono,\n    usuarioNombre\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        288
      ],
      "id": "0b4fcfd0-4d21-436b-9e65-a8132b9a6fff",
      "name": "Extraer Datos Discord"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ $json.respuesta }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1712,
        32
      ],
      "id": "de0f6738-6422-4584-8193-995e5ad4cda0",
      "name": "Send message and wait for response",
      "webhookId": "218e66dd-7cae-4773-870f-5202d1928a31",
      "credentials": {
        "discordBotApi": {
          "id": "x50XnZxvsf5HQGBZ",
          "name": "Discord Bot account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2784,
        288
      ],
      "id": "d583368f-551b-4bb0-ac68-a95a8aec32af",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "message": "={{ $json.respuesta }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        560,
        336
      ],
      "id": "548ed3a0-f297-4fdf-a163-81107849cc75",
      "name": "Send message and wait for response1",
      "webhookId": "218e66dd-7cae-4773-870f-5202d1928a31",
      "credentials": {
        "discordBotApi": {
          "id": "x50XnZxvsf5HQGBZ",
          "name": "Discord Bot account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "={{ $json.respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2256,
        272
      ],
      "id": "8f42cfca-1e9b-49d9-938a-ef389e39dcb6",
      "name": "Send a message",
      "webhookId": "b615d0e9-99a7-4308-85c9-a1c865581d39",
      "credentials": {
        "discordBotApi": {
          "id": "x50XnZxvsf5HQGBZ",
          "name": "Discord Bot account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uK9h2OehoZZ5dEnooeKckfGbdbzMEoOPdOTX8-nRvD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Disponibilidad",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tutor",
              "lookupValue": "={{ $('Validar Selección').first().json.id_tutor }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        512
      ],
      "id": "exam-consultar-dispo-0001",
      "name": "Consultar Disponibilidad Tutor",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bPvrG0V3J1o0qwgo",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst franjasLibres = rows.filter(r => (r.estado || '').toLowerCase().trim() === 'libre').length;\nconst idTutor = $('Validar Selección').first().json.id_tutor;\nconst nombreTutor = $('Validar Selección').first().json.nombre_tutor;\nreturn [{ json: { idTutor, nombreTutor, franjasLibres } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        512
      ],
      "id": "exam-contar-franjas-0002",
      "name": "Contar Franjas Libres"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "exam-c1",
              "leftValue": "={{ $json.franjasLibres }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        512
      ],
      "id": "exam-if-critica-0003",
      "name": "¿Disponibilidad Crítica?"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst alerta = `⚠️ ALERTA DE DISPONIBILIDAD: El tutor ${d.nombreTutor} solo tiene ${d.franjasLibres} franja(s) libre(s). Favor gestionar refuerzo.`;\nreturn [{ json: { ...d, alerta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        400
      ],
      "id": "exam-armar-alerta-0004",
      "name": "Armar Alerta Coordinación"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1527085786195951738",
          "mode": "list",
          "cachedResultName": "Servidor n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738"
        },
        "channelId": {
          "__rl": true,
          "value": "1527085834111680624",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/1527085786195951738/1527085834111680624"
        },
        "content": "={{ $json.alerta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2688,
        400
      ],
      "id": "exam-enviar-alerta-0005",
      "name": "Enviar Alerta a Coordinación",
      "credentials": {
        "discordBotApi": {
          "id": "x50XnZxvsf5HQGBZ",
          "name": "Discord Bot account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Sesión Usuario": {
      "main": [
        [
          {
            "node": "Enrutador de Estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador de Estados": {
      "main": [
        [
          {
            "node": "Menu Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Materia": {
      "main": [
        [
          {
            "node": "¿Materia Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Materia Inválida?": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Tutores": {
      "main": [
        [
          {
            "node": "Filtrar Tutores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Tutores": {
      "main": [
        [
          {
            "node": "Descargar Disponibilidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Disponibilidades": {
      "main": [
        [
          {
            "node": "Cruzar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cruzar Disponibilidad": {
      "main": [
        [
          {
            "node": "Motor de Asignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor de Asignación": {
      "main": [
        [
          {
            "node": "¿Hay Opciones?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Almacenar Pre-Reservas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Opciones?": {
      "main": [
        [
          {
            "node": "Handler Sin Tutores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Menú Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler Sin Tutores": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Construir Menú Opciones": {
      "main": [
        [
          {
            "node": "Merge Salidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Opciones Ofrecidas": {
      "main": [
        [
          {
            "node": "Validar Selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Selección": {
      "main": [
        [
          {
            "node": "¿Selección Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Selección Inválida?": {
      "main": [
        [],
        [
          {
            "node": "Agendar Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Google Calendar": {
      "main": [
        [
          {
            "node": "Cerrar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerrar Disponibilidad": {
      "main": [
        [
          {
            "node": "Consultar Disponibilidad Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Asesoría": {
      "main": [
        [
          {
            "node": "Mensaje de Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de Éxito": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Salidas": {
      "main": [
        [
          {
            "node": "Send message and wait for response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Inicial": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Discord": {
      "main": [
        [
          {
            "node": "Buscar Sesión Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Procesar Materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extraer Datos Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response1": {
      "main": [
        [
          {
            "node": "Cargar Opciones Ofrecidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Guardar Estado DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad Tutor": {
      "main": [
        [
          {
            "node": "Contar Franjas Libres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar Franjas Libres": {
      "main": [
        [
          {
            "node": "¿Disponibilidad Crítica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Disponibilidad Crítica?": {
      "main": [
        [
          {
            "node": "Armar Alerta Coordinación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar Asesoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Alerta Coordinación": {
      "main": [
        [
          {
            "node": "Enviar Alerta a Coordinación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Alerta a Coordinación": {
      "main": [
        [
          {
            "node": "Confirmar Asesoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "58545886-8858-4f87-b8de-8004e5862754",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f32db146a92d0d9307337ef177c5b6e2382cf225bdc995607a5e2910d38fb78"
  },
  "id": "zSVO58bEB4HEZtb9",
  "tags": []
}